/* @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Raleway:wght@300;400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Mooli&family=Raleway:wght@300;400&display=swap');

* {    
  margin: 0 !important;
  padding: 0 !important;
}

body{
  font-family: 'Mooli', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Inconsolata', monospace; */
}
